<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721734701486-cf39d79bmblsa5rr7c8c7c57fhqq6sp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721734701486-cf39d79bmblsa5rr7c8c7c57fhqq6sp2</string>
	<key>API_KEY</key>
	<string>AIzaSyBwY7qT1lsya9i1_CI0FdGsa8N6hCpZoaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>721734701486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixteenbrains.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-a1b4b</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-a1b4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721734701486:ios:78948106278c058fb2383f</string>
</dict>
</plist>